@using VideoHelp.ReadModel.Meeting
@model IEnumerable<MeetingListView>

@{
    ViewBag.Title = "Список комнат";
}

<div class="container">
  
    <div class="span8 offset2">
      
        <div class="page-header">
            <h1>Список митингов <small>Выбери или создай</small></h1>
        </div>
   
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Создал</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (MeetingListView meeting in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(@meeting.Name, "Meeting", new { meetingId = @meeting.Id }, null) </td>
                        <td>@meeting.OwnerNick</td>
                        <td>@meeting.CreationDate.ToLocalTime()</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>        
</div>