@using VideoHelp.UI.Web
@model VideoHelp.ReadModel.Meeting.MeetingView

@{
    ViewBag.Title = "Комната " + Model.Name;
}

<script src="/Scripts/jquery.signalR.min.js" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>


    <div style="width: 310px; left: 0; top: 40px; bottom: 0; position: absolute; background: #F9F9F9; border-right: 1px solid #CCC; border-right-width: 1px; border-right-style: solid; border-right-color: #CCCCCC;">
        <div class="container-fluid">
        
            <div class="page-header">
                <div class="thumbnail" style="background: white;">
                    <div id="myFlash" style="background: black"> <img src="http://placehold.it/260x180" alt=""> </div>
                    
                    <div class="caption">
                        <p><a href="#" id="createStream" class="btn btn-success"><i class="icon-facetime-video icon-white"></i>  Включить</a></p>
                        <p><a href="#" id="addBox" class="btn btn-success"><i class="icon-facetime-video icon-white"></i>  Добавить</a></p>
                    </div>
                </div>
                                    
            </div>

        </div>

    </div>    
    

    <div style="position: absolute;left: 310px; top: 40px; bottom: 0; right: 0; text-align: center; vert-align: middle;">
    

            <div id="contentArea" >
              <div class="userContent">...</div>
              <div class="userContent">...</div>
              <div class="userContent">...</div>
            </div>
    </div>


<script src="/Scripts/jquery.masonry.min.js"></script>
<script src="/Scripts/swfobject.js" type="text/javascript"></script>
<script src="/Scripts/jquery.swfobject.1-1-1.min.js" type="text/javascript"></script>

<script type="text/javascript">



    $(document).ready(function () {
        $('#myFlash').flash(
            {
                swf: '@Url.Content("~/Content/flash/VideoIO11.swf")',
                // these arguments will be passed into the flash document
                quality: 'high',
                bgcolor: '#000000',
                width: '260',
                height: '180',
                name: 'video-publisher',
                align: 'middle',
                wmode: 'transparent',
                play: 'true',
                loop: 'false',
                allowfullscreen: 'true',
                allowscriptaccess: 'always',
                flashvars: 'controls=true',
                type: 'application/x-shockwave-flash',
                pluginspage: 'http://www.adobe.com/go/getflashplayer'
            });
        });



        $(function () {
            $('#contentArea').masonry({
                // options
                itemSelector: '.userContent',
                isFitWidth: true,
                columnWidth: 340
            });
        });

        $("#addBox").click(function () {
            var $box = $('<div class="userContent"/>');
            $('#contentArea').append($box).masonry('appended', $box);

        });


    

    $("#createStream").click(function () {

        $('#myFlash').flash(
            function() {
                this.setProperty('src','rtmfp://stratus.rtmfp.net/d1e1e5b3f17e90eb35d244fd-c711881365d9?publish=fffds');
            });
        });

        function onPropertyChange(event) {
            console.log(event.property + " " + event.newValue);
            if (event.property == "nearID") {

                if (event.objectID == "video-publisher") {
                    $.connection.meetingHub.addCameraStream('@Model.Id', '@UserManager.CurrentUser.Id', event.newValue);
                }
            }
        }

</script>

<script type="text/javascript">
    var rtmfp = "rtmfp://stratus.rtmfp.net/d1e1e5b3f17e90eb35d244fd-c711881365d9/";

    //получаем прокси объект чат
    var meetingHub = $.connection.meetingHub;

        //определяем метод, вызываемый с серверной част,
        //параметры естественно должы совпадать
    meetingHub.addVideoStream = function (user, stream) {
        $("#messages").append("<li>" + msg.name + " : " + msg.text + "</li>");
    };

  

    //стартуем все хабы
    $.connection.hub.start(
        function() {
            meetingHub.joinToMeeting('@Model.Id', '@UserManager.CurrentUser.Id');
        });


    function getFlashMovie(movieName) {
        var isIE = navigator.appName.indexOf("Microsoft") != -1;
        return (isIE) ? window[movieName] : document[movieName];
    }
  
    
</script>