@using VideoHelp.UI.Web
@model VideoHelp.ReadModel.Meeting.MeetingView

@{
    ViewBag.Title = "Комната " + Model.Name;
}


<div style="width: 310px; left: 0; top: 40px; bottom: 0; position: absolute; background: #F9F9F9; border-right: 1px solid #CCC; border-right-width: 1px; border-right-style: solid; border-right-color: #CCCCCC;">
        <div class="container-fluid">
            <div class="page-header">
                            
                <p><a href="#" id="addBox" data-bind="click: createOwnerVideoStream" class="btn btn-success"><i class="icon-facetime-video icon-white"></i>  Включить</a></p>     
            </div>
        </div>
    </div>    
    

<div style="position: absolute;left: 310px; top: 40px; bottom: 0; right: 0; text-align: center; vert-align: middle;">
    <div id="contentArea" data-bind="template: { name: 'person-template', foreach: videoStreams, afterRender: attachVideoStream }"></div>

</div>

<script src="/Scripts/jquery.tmpl.js" type="text/javascript"></script>
<script src="/Scripts/knockout.js" type="text/javascript"></script>
<script src="/Scripts/jquery.signalR.min.js" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="/Scripts/jquery.masonry.min.js" type="text/javascript"></script>
<script src="/Scripts/swfobject.js" type="text/javascript"></script>
<script src="/Scripts/jquery.swfobject.1-1-1.min.js" type="text/javascript"></script>

<script type="text/html" id="person-template">
     <div class="userContent" data-userid="${userId}" data-farid="${farId}"/>
</script>

<script type="text/html" id="peopleList">
    {{each videoStreams}}
        <div class="userContent" data-userId="${userId}" data-farId="${farId}"/>
    {{/each}}
</script>

<script type="text/javascript">

    $(function () {
        $('#contentArea').masonry({
            // options
            itemSelector: '.userContent',
            isFitWidth: true,
            columnWidth: 340
        });
    });


    var viewModel = {
        videoStreams: ko.observableArray([]),

        userId: ko.observable("fsdfsd"),
        farID: ko.observable(4343),

        createOwnerVideoStream : function() {
            var $contentBox = $('<div class="userContent"/>');
            $('#contentArea').append($contentBox).masonry('appended', $contentBox);

            $contentBox.flash(
            {
                swf: '@Url.Content("~/Content/flash/VideoIO11.swf")',
                // these arguments will be passed into the flash document
                quality: 'high',
                bgcolor: '#000000',
                width: '320',
                name: 'video-publisher',
                height: '240',
                allowfullscreen: 'true',
                allowscriptaccess: 'always',
                flashvars: {
                    controls: 'true',
                    url: 'rtmfp://stratus.rtmfp.net/d1e1e5b3f17e90eb35d244fd-c711881365d9',
                    publish: '@UserManager.CurrentUser',                               
                    cameraFPS: 25,
                    cameraWidth: 640,
                    cameraHeight: 480,
                    cameraQuality: 90,
                    smoothing: true
                }
            });
        },

        attachVideoStream: function (elements) {
            var $contentBox = $(elements[0]);
            $('#contentArea').masonry('appended', $contentBox);
            
            var userId = $contentBox.data('userid');
            var farId = $contentBox.data('farid');
            
            $contentBox.flash(
            {
                swf: '@Url.Content("~/Content/flash/VideoIO11.swf")',
                // these arguments will be passed into the flash document
                quality: 'high',
                bgcolor: '#000000',
                width: '320',
                height: '240',
                allowfullscreen: 'true',
                allowscriptaccess: 'always',
                flashvars: {
                    controls: 'true',
                    url: 'rtmfp://stratus.rtmfp.net/d1e1e5b3f17e90eb35d244fd-c711881365d9',
                    play: userId,
                    farID: farId                   
                }
            });
        }
    };

    ko.applyBindings(viewModel);

    var meetingHub = $.connection.meetingHub;

    meetingHub.updateCameraStream = function (userId, farId) {

        if ('@UserManager.CurrentUser' != userId) {
            viewModel.videoStreams.push({ userId: userId, farId: farId }); 
        }
    };

    //стартуем все хабы
    $.connection.hub.start(function () {
        meetingHub.joinToMeeting('@Model.Id', '@UserManager.CurrentUser');
    });

    function onPropertyChange(event) {
        console.log(event.property + " " + event.newValue);
        if (event.property == "nearID" && event.objectID == "video-publisher") {
            meetingHub.attachCameraStream('@Model.Id', '@UserManager.CurrentUser', event.newValue);
        }
    }
 
</script>​