@using VideoHelp.UI.Web
@model VideoHelp.ReadModel.Meeting.MeetingView

@{
    ViewBag.Title = "Комната " + Model.Name;
}




<div style="width: 310px; left: 0; top: 40px; bottom: 0; position: absolute; background: #F9F9F9; border-right: 1px solid #CCC; border-right-width: 1px; border-right-style: solid; border-right-color: #CCCCCC;">
        <div class="container-fluid">
            <div class="page-header">
                            
                <p><a href="#" id="addBox" class="btn btn-success"><i class="icon-facetime-video icon-white"></i>  Добавить</a></p>     
            </div>
        </div>
    </div>    
    

<div style="position: absolute;left: 310px; top: 40px; bottom: 0; right: 0; text-align: center; vert-align: middle;">
    <div id="contentArea" data-bind="template: { name: 'person-template', foreach: videoStreams, afterRender: attachVideoStream }"></div>

</div>

<script src="/Scripts/jquery.tmpl.js" type="text/javascript"></script>
<script src="/Scripts/knockout.js" type="text/javascript"></script>
<script src="/Scripts/jquery.signalR.min.js" type="text/javascript"></script>
<script src="/signalr/hubs" type="text/javascript"></script>
<script src="/Scripts/jquery.masonry.min.js" type="text/javascript"></script>
<script src="/Scripts/swfobject.js" type="text/javascript"></script>
<script src="/Scripts/jquery.swfobject.1-1-1.min.js" type="text/javascript"></script>

<script type="text/html" id="person-template">
     <div class="userContent" data-userid="${userId}" data-farid="${farId}"/>
</script>

<script type="text/html" id="peopleList">
    {{each videoStreams}}
        <div class="userContent" data-userId="${userId}" data-farId="${farId}"/>
    {{/each}}
</script>

<script type="text/javascript">
    
    $(function () {
        $('#contentArea').masonry({
            // options
            itemSelector: '.userContent',
            isFitWidth: true,
            columnWidth: 340
        });
    });


    var viewModel = {
        videoStreams: ko.observableArray(
            [
                { userId: "Bungle", farId: "Bear" },
                { userId: "Bungle1", farId: "Bear2" }
            ]),

        userId: ko.observable("fsdfsd"),
        farID: ko.observable(4343),

        attachVideoStream: function (elements) {
            var videoPlayerDiv = $(elements[0]);
            
            var userId = videoPlayerDiv.data('userid');
            var farId = videoPlayerDiv.data('farid');
            
            videoPlayerDiv.flash(
            {
                swf: '@Url.Content("~/Content/flash/VideoIO.swf")',
                // these arguments will be passed into the flash document
                quality: 'high',

                bgcolor: '#000000',
                width: '320',
                height: '240',
                allowfullscreen: 'true',
                allowscriptaccess: 'always',
                flashvars: {
                    controls: 'true',
                    url: 'rtmfp://stratus.rtmfp.net/d1e1e5b3f17e90eb35d244fd-c711881365d9',
                    play: userId,
                    farID: farId
                }
            });
        }
    };

    ko.applyBindings(viewModel);


    $(function () {

        $("#contentArea").bind("change", function () {
            alert('The value of input #');
        });

        $('.userContent').live('change', function () {
            //var element_id = this.id;
            var userId = $(this).data('userId');
            var farId = $(this).data('farId');

            alert('The value of input #' + this.id + ' is: ' + userId + ' ' + farId);
        });
    });
    
</script>​


@*​





 //получаем прокси объект чат
    var meetingHub = $.connection.meetingHub;




  

    //стартуем все хабы
    $.connection.hub.start(function () {
        meetingHub.joinToMeeting('@Model.Id', '@UserManager.CurrentUser');
    });


    //определяем метод, вызываемый с серверной част,
    //параметры естественно должы совпадать
    meetingHub.updateCameraStream = function (userId, farId) {

        if ('@UserManager.CurrentUser' != userId) {

            var $box = $('<div class="userContent"/>');
            $('#contentArea').append($box).masonry('appended', $box);

            $box.flash(
            {
                swf: '@Url.Content("~/Content/flash/VideoIO.swf")',
                // these arguments will be passed into the flash document
                quality: 'high',

                bgcolor: '#000000',
                width: '320',
                height: '240',
                allowfullscreen: 'true',
                allowscriptaccess: 'always',
                flashvars: {
                    controls: 'true',
                    url: 'rtmfp://stratus.rtmfp.net/d1e1e5b3f17e90eb35d244fd-c711881365d9',
                    play: userId,
                    farID: farId
                    
                }
            });
        }
    };
    




    $("#addBox").click(function () {
        var $box = $('<div class="userContent"/>');
        $('#contentArea').append($box).masonry('appended', $box);

        $box.flash(
            {
                swf: '@Url.Content("~/Content/flash/VideoIO.swf")',
                // these arguments will be passed into the flash document
                quality: 'high',
                bgcolor: '#000000',
                width: '320',
                name: 'video-publisher',
                height: '240',
                allowfullscreen: 'true',
                allowscriptaccess: 'always',
                flashvars: {
                    controls: 'true',
                    url: 'rtmfp://stratus.rtmfp.net/d1e1e5b3f17e90eb35d244fd-c711881365d9',
                    publish: '@UserManager.CurrentUser'
                }
            });

    });

  
    function onPropertyChange(event) {
        console.log(event.property + " " + event.newValue);
        if (event.property == "nearID") {
            meetingHub.attachCameraStream('@Model.Id', '@UserManager.CurrentUser', event.newValue);
        }
    }

</script>

*@